
   a {
		text-decoration: none;
	}
	
	.foodButton {
    display: inline-block;
    min-height: 125px;
    min-width: 400px;
    margin: 2em 1em;
    text-align: center;
    padding: 125px 0px;
    }

    #setMeal {  
    background-image: url("https://images.unsplash.com/photo-1551218372-a8789b81b253");
    background-color: #5b5dc2;
    background-blend-mode: multiply;
    background-position: center;
    position: relative;
    width: 40%;
    height: 40%;
}

    .mainTableDIV {
        height: 300px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        float: left;
    }

    .menu{
	    pointer-events: none;
	    position: absolute;
	    width: 100%;
	    height: 100%;
		object-fit: cover;
        border-radius: 7px;
        object-fit: cover;
		flex: 1 0 calc(45% - 10px * 2);    
    }
    
    .orderDesign{
        width: 300px;
        height: 300px;
        font-family: "Rubik", sans-serif;
        color: white;
        border-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
    }

    .setMealColor{
        background-color: #050A50;
    }

    .drinkColor{
        background-color: #002469;
    }

    .leftAlignName{
        height: 20px;
        padding-top: 8px;
        padding-left: 5px;
        font-size: 20px;
        font-weight: bold;
        vertical-align: text-top;
    }

    .leftAlignPrice{
        height: 55px;
        padding-top: -20px;
        padding-left: 5px;
        font-size: 15px;
        vertical-align: text-top;
    }
#experiment {
	text-decoration: none;
	underline: none;
}

@media only screen and (max-width: 500px) {
  .detailspane {
		z-index: 6;
		padding: 5px 5px 5px 5px;
		position: relative;
		font-family: "Rubik", sans-serif;
        color: white;
        border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
		background-color: #050A50;
		width: 100%;
		height: 25%;
		top: 7em;
  }
  
  .nameDetails{
        padding-left: 2px;
        font-size: 6px;
        font-weight: bold;
        vertical-align: text-top;
		color: #FFFFFF;
    }

    .priceDetails{
        padding-left: 1px;
        font-size: 3px;
        vertical-align: text-top;
    }

}

@media only screen and  (max-width: 800px) {
  .detailspane {
		z-index: 6;
		padding: 5px 5px 5px 5px;
		position: relative;
		font-family: "Rubik", sans-serif;
        color: white;
        border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
		background-color: #050A50;
		width: 100%;
		height: 25%;
		top: 5em;
  }
    .nameDetails{
        padding-left: 2px;
        font-size: 8px;
        font-weight: bold;
        vertical-align: text-top;
		color: #FFFFFF;
    }

    .priceDetails{
        padding-left: 1px;
        font-size: 5px;
        vertical-align: text-top;
    }
}

@media only screen and  (max-width: 980px) {
  .detailspane {
		z-index: 6;
		padding: 5px 5px 5px 5px;
		position: relative;
		font-family: "Rubik", sans-serif;
        color: white;
        border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
		background-color: #050A50;
		width: 200%;
		height: 25%;
		top: 9.4em;
  }
}

@media only screen and  (max-width: 993px) {
  .detailspane {
		z-index: 6;
		padding: 5px 5px 5px 5px;
		position: relative;
		font-family: "Rubik", sans-serif;
        color: white;
        border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
		background-color: #050A50;
		width: 206%;
		height: 25%;
		top: 9.6em;
  }
  
    .nameDetails{
        padding-left: 2px;
        font-size: 16px;
        font-weight: bold;
        vertical-align: text-top;
		color: #FFFFFF;
    }

    .priceDetails{
        padding-left: 1px;
        font-size: 12px;
        vertical-align: text-top;
    }
}



@media only screen and  (max-width: 1200px) {
  .detailspane {
		z-index: 6;
		padding: 5px 5px 5px 5px;
		position: relative;
		font-family: "Rubik", sans-serif;
        color: white;
        border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
		background-color: #050A50;
		width: 210.25%;
		height: 25%;
		top: 9.8em;
  }
  
    .nameDetails{
        padding-left: 2px;
        font-size: 16px;
        font-weight: bold;
        vertical-align: text-top;
		color: #FFFFFF;
    }

    .priceDetails{
        padding-left: 1px;
        font-size: 12px;
        vertical-align: text-top;
    }


}

@media only screen and (min-width: 1201px) {

    .nameDetails{
        padding-left: 8px;
        font-size: 20px;
        font-weight: bold;
        vertical-align: text-top;
		color: #FFFFFF;
    }

    .priceDetails{
        padding-left: 8px;
        font-size: 14px;
        vertical-align: text-top;
    }

.detailspane {
	  	pointer-events: none;
		z-index: 5;
		position: absolute;
		font-family: "Rubik", sans-serif;
        color: white;
        border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
        box-shadow: 0px 5px 35px #bbbbbb;
		background-color: #050A50;
		padding: 5px 5px 5px 5px;
		width: 100%;
		height: 25%;
		top: 12.05em;
  }

}