* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
	text-align: center;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.yes a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.yes a {
	color: #272523;
	font-size: 2.5em;
}

.yes a:hover {
	color: #718daa;
}



.divider {
	height: 25px;
	width: 100%;
	background-color: #272523;
	border-radius: 0px !important;
	display: flex;
}

.hamburger{
	color: #000000;
	font-size: 2.5em;
	}

.header {
	height: 120px;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid rgb(212,146,39);
	background-color: #fda003;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(212,146,39,0.75);
	-moz-box-shadow: 0px 0px 6px 0px rgba(212,146,39,0.75);
	box-shadow: 0px 0px 6px 0px rgba(212,146,39,0.75);
	border-radius: 0px !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 200px) {
	.header {
		padding: 20px 15px;
	}
}

@media (min-width: 900px) {
	.header {
		padding: 20px 30px;
	}
}