/* Please ❤ this if you like it! */
.FOOD{
	height: 100%;
	width: 100%;
	width: 100%;
	position: fixed;
	overflow-y: auto; 
    transition: 0.5s; 
	z-index: 1;
	padding-right: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import "font-awesome";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}	
	
[ng-app] {
  align-items: center;
  display: block;
  font-size: 1.5em;
  height: 100%;
  justify-content: center;
  z-index: 9;
  width: 100%;
  left: 3em;
}

.input {
  border-radius: 0;
  color: #54577C;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: light;
  vertical-align: middle;
  margin-left: -10px;
}
label--select,
.input--select {
  background-color: white;
  border: 2px solid darkgray;
  border-radius: 0;
  box-shadow: 0 -2px 0 0 rgba(43, 105, 164, .5) inset;
  padding: 0.7em;
  transition: all 0.2s ease;
}
label--select:hover,
.input--select:hover {
  border-color: gray;
}
label--select:focus, label--select:active,
.input--select:focus,
.input--select:active {
  border-color: #ECFFB0;
}

.input--select {
  padding: 0.8em 2.4em 0.8em 0.7em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input--select{
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}
.input--select::-ms-expand {
  display: none;
}

.select {
  display: inline-block;
  position: relative;
}
.select::after {
  color: #54577C;
  content: "▼";
  font-size: 0.5em;
  display: block;
  pointer-events: none;
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.add-qty {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 0.5em;
  width: 150px;
}
.add-qty .select {
  width: 100%;
}
.add-qty .select::after {
  right: 0.55em;
}
.add-qty .input--text,
.add-qty .input--select {
  background-color: white;
  border: 2px solid #4A7B9D;
  box-shadow: none;
  padding: 0.2em 0.35em;
  text-align: left;
  width: 150px;
}
.add-qty .input--text option,
.add-qty .input--select option {
  font-size: 1rem;
}
.add-qty .input--text::-webkit-outer-spin-button, .add-qty .input--text::-webkit-inner-spin-button,
.add-qty .input--select::-webkit-outer-spin-button,
.add-qty .input--select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/* ----------------------------------------------------------------------------------------------------------- */

.ITEM_DETAILS{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #fff;
	min-height: 100vh;
    margin: 0;
    padding: 0;
	overflow: hidden;
	object-fit: cover;
}
.smol {
	font-family: 'Montserrat', sans-serif;
	font-weight: 3;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	margin-top: 0;
}

.section-fluid-main{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 600px;
  border-radius: 10px;
}
.section{
  position: relative;
  max-width: calc(100% - 40px);
  width: 860px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 60px 0;
}
.section-fluid{
  position: relative;
  width: 100%;
  display: block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  visibility: hidden;
}

.color-btn:checked + label,
.color-btn:not(:checked) + label{
  position: relative;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 100px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  color: #fff8f8;
  margin-right: 15px;
  z-index: 10;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
  text-align: center;
  padding-top: 8px;
  font-size: 12px;
}
.color-btn:checked + label{
  border-color:  rgba(255, 225, 177, 1);;
  transform: scale(1.1);
}


/*------------------------------------------------------SET MEALS-----------------------------------------------------------*/

label.first-color{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-2{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-3{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-4{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-5{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-6{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-7{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-8{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-9{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-10{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-11{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-12{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-13{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-14{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}
label.color-15{
  margin-left: 500px;
  background-image: url('https://www.shutterstock.com/image-illustration/green-designed-grunge-texture-vintage-260nw-1349433869.jpg');
  background-size: cover;
}
label.color-16{
  background-image: url('https://t3.ftcdn.net/jpg/02/30/65/32/360_F_230653258_1SCEgR7iyZLpxP7T8pDPqaPIfHFtl6Qd.jpg');
}


/*------------------------------------------------------AL A CARTE-----------------------------------------------------------*/
label.color-17{
  margin-left: 500px;
  background-image: url('https://thumbs.dreamstime.com/b/dark-blue-green-background-black-distressed-grunge-rock-stone-texture-blank-elegant-teal-blue-background-lots-142729877.jpg');
  background-size: cover;
}
label.color-18{
  margin-left: 500px;
  background-image: url('https://thumbs.dreamstime.com/b/dark-blue-green-background-black-distressed-grunge-rock-stone-texture-blank-elegant-teal-blue-background-lots-142729877.jpg');
  background-size: cover;
}
label.color-19{
  margin-left: 500px;
  background-image: url('https://thumbs.dreamstime.com/b/dark-blue-green-background-black-distressed-grunge-rock-stone-texture-blank-elegant-teal-blue-background-lots-142729877.jpg');
  background-size: cover;
}
label.color-20{
  margin-left: 500px;
  background-image: url('https://thumbs.dreamstime.com/b/dark-blue-green-background-black-distressed-grunge-rock-stone-texture-blank-elegant-teal-blue-background-lots-142729877.jpg');
  background-size: cover;
}
label.color-21{
  margin-left: 500px;
  background-image: url('https://thumbs.dreamstime.com/b/dark-blue-green-background-black-distressed-grunge-rock-stone-texture-blank-elegant-teal-blue-background-lots-142729877.jpg');
  background-size: cover;
}
label.color-22{
  margin-left: 500px;
  background-image: url('https://thumbs.dreamstime.com/b/dark-blue-green-background-black-distressed-grunge-rock-stone-texture-blank-elegant-teal-blue-background-lots-142729877.jpg');
  background-size: cover;
}


/*------------------------------------------------------EXTRAS-----------------------------------------------------------*/

label.color-23{
  margin-left: 500px;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/58/81/360_F_295588160_0v6trlE9I3tTuIBkokhPyMGAMzv9nZye.jpg');
  background-size: cover;
}

label.color-24{
  margin-left: 500px;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/58/81/360_F_295588160_0v6trlE9I3tTuIBkokhPyMGAMzv9nZye.jpg');
  background-size: cover;
}

label.color-25{
  margin-left: 500px;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/58/81/360_F_295588160_0v6trlE9I3tTuIBkokhPyMGAMzv9nZye.jpg');
  background-size: cover;
}

label.color-26{
  margin-left: 500px;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/58/81/360_F_295588160_0v6trlE9I3tTuIBkokhPyMGAMzv9nZye.jpg');
  background-size: cover;
}

label.color-27{
  margin-left: 500px;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/58/81/360_F_295588160_0v6trlE9I3tTuIBkokhPyMGAMzv9nZye.jpg');
  background-size: cover;
}

label.color-28{
  margin-left: 500px;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/58/81/360_F_295588160_0v6trlE9I3tTuIBkokhPyMGAMzv9nZye.jpg');
  background-size: cover;
}


/*------------------------------------------------------DRINKS-----------------------------------------------------------*/

label.color-29{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-30{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-31{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-32{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-33{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-34{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-35{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-36{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-37{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-38{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-39{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-40{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-41{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-42{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-43{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-44{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-45{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-46{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}
label.color-47{
  margin-left: 500px;
  background-image: url('https://img.freepik.com/premium-photo/old-stone-texture-background-toned-classic-blue-color_107210-688.jpg');
  background-size: cover;
}
label.color-48{
  background-image: url('https://t3.ftcdn.net/jpg/01/40/33/00/360_F_140330093_ZRD5rIUJEtQDabQFc8Wdwaxcb4PxTZfs.jpg');
}



/*-----------------------------------------------------------------------------------------------------------------------*/

.img-wrap{
  position: absolute;
  top: 60px;
  left: 0;
  width: 400px;
  height: 470px;
  display: inline-block;
  z-index: 7;
  transition: all 550ms linear;
  border-radius: 5px;
  transition-delay: 100ms;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://cdn.discordapp.com/attachments/795464336713580585/1091008874309488711/tonkatsu.jpg');
}


/*------------------------------------------------------SET MEALS-----------------------------------------------------------*/

.for-color-1:checked ~ .img-wrap.tonkatsu-1{
  opacity: 1;
}
.img-wrap.tonkatsu-2{
  background-image: url('https://cdn.discordapp.com/attachments/795464336713580585/1091008874309488711/tonkatsu.jpg');
}
.for-color-2:checked ~ .img-wrap.tonkatsu-2{
  opacity: 1;
}


.img-wrap.fried_chicken-1{
  background-image: url('https://recipe30.com/wp-content/uploads/2020/05/Fried-chicken.jpg');
}
.for-color-3:checked ~ .img-wrap.fried_chicken-1{
  opacity: 1;
}
.img-wrap.fried_chicken-2{
  background-image: url('https://recipe30.com/wp-content/uploads/2020/05/Fried-chicken.jpg');
}
.for-color-4:checked ~ .img-wrap.fried_chicken-2{
  opacity: 1;
}


.img-wrap.dinuguan-1{
  background-image: url('https://i.ytimg.com/vi/U8oC6nqzhBY/maxresdefault.jpg');
}
.for-color-5:checked ~ .img-wrap.dinuguan-1{
  opacity: 1;
 
}
.img-wrap.dinuguan-2{
  background-image: url('https://i.ytimg.com/vi/U8oC6nqzhBY/maxresdefault.jpg');
}
.for-color-6:checked ~ .img-wrap.dinuguan-2{
  opacity: 1;
 
}


.img-wrap.bopis-1{
  background-image: url('https://panlasangpinoy.com/wp-content/uploads/2010/11/bopis-recipe.jpg');
}
.for-color-7:checked ~ .img-wrap.bopis-1{
  opacity: 1;
}
.img-wrap.bopis-2{
  background-image: url('https://panlasangpinoy.com/wp-content/uploads/2010/11/bopis-recipe.jpg');
}
.for-color-8:checked ~ .img-wrap.bopis-2{
  opacity: 1;
}


.img-wrap.adobong_pusit-1{
  background-image: url('https://yummykitchentv.com/wp-content/uploads/2021/04/adobong-pusit-recipe-01-1024x816.jpg');
}
.for-color-9:checked ~ .img-wrap.adobong_pusit-1{
  opacity: 1;
}
.img-wrap.adobong_pusit-2{
  background-image: url('https://yummykitchentv.com/wp-content/uploads/2021/04/adobong-pusit-recipe-01-1024x816.jpg');
}
.for-color-10:checked ~ .img-wrap.adobong_pusit-2{
  opacity: 1;
}


.img-wrap.siningang_baboy-1{
  background-image: url('https://www.pinoyrecipe.net/wp-content/uploads/2022/09/Sinigang-na-Baboy-sa-Batuan-Recipe-1200x675.jpg');
}
.for-color-11:checked ~ .img-wrap.siningang_baboy-1{
  opacity: 1;
}
.img-wrap.siningang_baboy-2{
  background-image: url('https://www.pinoyrecipe.net/wp-content/uploads/2022/09/Sinigang-na-Baboy-sa-Batuan-Recipe-1200x675.jpg');
}
.for-color-12:checked ~ .img-wrap.siningang_baboy-2{
  opacity: 1;
}


.img-wrap.sisig-1{
  background-image: url('https://www.pinoyrecipe.net/wp-content/uploads/2022/09/Sinigang-na-Baboy-sa-Batuan-Recipe-1200x675.jpg');
}
.for-color-13:checked ~ .img-wrap.sisig-1{
  opacity: 1;
}
.img-wrap.sisig-2{
  background-image: url('https://www.foxyfolksy.com/wp-content/uploads/2015/05/sisig-kapampangan-1.jpg');
}
.for-color-14:checked ~ .img-wrap.sisig-2{
  opacity: 1;
}


.img-wrap.bicol_express-1{
  background-image: url('https://i0.wp.com/whattoeatph.com/wp-content/uploads/2022/03/DSC_9120.jpg?fit=720%2C576&ssl=1');
}
.for-color-15:checked ~ .img-wrap.bicol_express-1{
  opacity: 1;
}
.img-wrap.bicol_express-2{
  background-image: url('https://i0.wp.com/whattoeatph.com/wp-content/uploads/2022/03/DSC_9120.jpg?fit=720%2C576&ssl=1');
}
.for-color-16:checked ~ .img-wrap.bicol_express-2{
  opacity: 1;
}


/*------------------------------------------------------AL A CARTE-----------------------------------------------------------*/

.img-wrap.spaghetti-1{
  background-image: url('https://www.indianhealthyrecipes.com/wp-content/uploads/2022/07/mushroom-spaghetti-recipe.jpg');
}
.for-color-17:checked ~ .img-wrap.spaghetti-1{
  opacity: 1;
}
.img-wrap.carbonara-1{
  background-image: url('https://www.cookingclassy.com/wp-content/uploads/2020/10/spaghetti-carbonara-01.jpg');
}
.for-color-18:checked ~ .img-wrap.carbonara-1{
  opacity: 1;
}

.img-wrap.baked_mac-1{
  background-image: url('https://images.summitmedia-digital.com/yummyph/images/2020/09/04/bakedmac640.jpg');
}
.for-color-19:checked ~ .img-wrap.baked_mac-1{
  opacity: 1;
}
.img-wrap.eggplant_omelette-1{
  background-image: url('https://staticcookist.akamaized.net/wp-content/uploads/sites/22/2020/07/mela-1200x675.jpg');
}
.for-color-20:checked ~ .img-wrap.eggplant_omelette-1{
  opacity: 1;
}

.img-wrap.ginisang_upo-1{
  background-image: url('https://momfoodblog.com/wp-content/uploads/2021/03/Ginisang-Upo-with-Pork-MomFoodBlog2.jpg');
}
.for-color-21:checked ~ .img-wrap.ginisang_upo-1{
  opacity: 1;
}
.img-wrap.ginisang_monggo-1{
  background-image: url('https://speedyrecipe.com/wp-content/uploads/2018/04/Ginisang-Munggo.jpg');
}
.for-color-22:checked ~ .img-wrap.ginisang_monggo{
  opacity: 1;
}




/*------------------------------------------------------EXTRAS-----------------------------------------------------------*/

.img-wrap.rice-1{
  background-image: url('https://cdn.shopify.com/s/files/1/0406/5728/9378/products/Add-onPlainRice_530x@2x.jpg?v=1595751788');
}
.for-color-17:checked ~ .img-wrap.rice-1{
  opacity: 1;
}
.img-wrap.egg-1{
  background-image: url('https://www.sophisticatedgourmet.com/wp-content/uploads/2021/01/how-to-fry-an-egg-recipe.jpg');
}
.for-color-18:checked ~ .img-wrap.egg-1{
  opacity: 1;
}

.img-wrap.ham-1{
  background-image: url('https://www.everydayfamilycooking.com/wp-content/uploads/2019/12/air-fried-ham-slices.jpg');
}
.for-color-19:checked ~ .img-wrap.ham-1{
  opacity: 1;
}
.img-wrap.hotdog-1{
  background-image: url('https://cdn.shopify.com/s/files/1/0487/5167/3505/products/BESTDOG-500g-3_360x.jpg?v=1633066669');
}
.for-color-20:checked ~ .img-wrap.hotdog-1{
  opacity: 1;
}

.img-wrap.siomai-1{
  background-image: url('https://panlasangpinoy.com/wp-content/uploads/2020/01/pork-siomai-recipe.jpg');
}
.for-color-21:checked ~ .img-wrap.siomai-1{
  opacity: 1;
}
.img-wrap.salad-1{
  background-image: url('https://www.onceuponachef.com/images/2019/07/Big-Italian-Salad.jpg');
}
.for-color-22:checked ~ .img-wrap.salad{
  opacity: 1;
}



/*------------------------------------------------------DRINKS-----------------------------------------------------------*/

.img-wrap.lemonade-1{
  background-image: url('https://www.texanerin.com/content/uploads/2014/08/honey-lemonade-2-650x975.jpg');
}
.for-color-29:checked ~ .img-wrap.lemonade-1{
  opacity: 1;
}
.img-wrap.lemonade-2{
  background-image: url('https://www.texanerin.com/content/uploads/2014/08/honey-lemonade-2-650x975.jpg');
}
.for-color-30:checked ~ .img-wrap.lemonade-2{
  opacity: 1;
}


.img-wrap.bluelemonade-1{
  background-image: url('https://i0.wp.com/charlotteshares.blog/wp-content/uploads/2022/05/img_4254_jpg.jpg?resize=768%2C1024&ssl=1');
}
.for-color-31:checked ~ .img-wrap.bluelemonade-1{
  opacity: 1;
}
.img-wrap.bluelemonade-2{
  background-image: url('https://i0.wp.com/charlotteshares.blog/wp-content/uploads/2022/05/img_4254_jpg.jpg?resize=768%2C1024&ssl=1');
}
.for-color-32:checked ~ .img-wrap.bluelemonade-2{
  opacity: 1;
}


.img-wrap.iced_tea-1{
  background-image: url('https://www.acouplecooks.com/wp-content/uploads/2020/07/Iced-Tea-001.jpg');
}
.for-color-33:checked ~ .img-wrap.iced_tea-1{
  opacity: 1;
}
.img-wrap.iced_tea-2{
  background-image: url('https://www.acouplecooks.com/wp-content/uploads/2020/07/Iced-Tea-001.jpg');
}
.for-color-34:checked ~ .img-wrap.iced_tea-2{
  opacity: 1;
}


.img-wrap.red_iced_tea-1{
  background-image: url('https://i.pinimg.com/564x/ae/41/60/ae41604e8ee060a9a1d1066954670b04.jpg');
}
.for-color-35:checked ~ .img-wrap.red_iced_tea-1{
  opacity: 1;
}
.img-wrap.red_iced_tea-2{
  background-image: url('https://i.pinimg.com/564x/ae/41/60/ae41604e8ee060a9a1d1066954670b04.jpg');
}
.for-color-36:checked ~ .img-wrap.red_iced_tea-2{
  opacity: 1;
}


.img-wrap.cucumber_iced_tea-1{
  background-image: url('https://www.babaganosh.org/wp-content/uploads/2022/07/cucumber-lemonade-11.jpg.webp');
}
.for-color-37:checked ~ .img-wrap.cucumber_iced_tea-1{
  opacity: 1;
}
.img-wrap.cucumber_iced_tea-2{
  background-image: url('https://www.babaganosh.org/wp-content/uploads/2022/07/cucumber-lemonade-11.jpg.webp');
}
.for-color-38:checked ~ .img-wrap.cucumber_iced_tea-2{
  opacity: 1;
}



.img-wrap.mango_iced_tea-1{
  background-image: url('https://www.whiskaffair.com/wp-content/uploads/2019/03/Mango-Iced-Tea-2-3.jpg');
}
.for-color-38:checked ~ .img-wrap.mango_iced_tea-1{
  opacity: 1;
}
.img-wrap.mango_iced_tea-2{
  background-image: url('https://www.whiskaffair.com/wp-content/uploads/2019/03/Mango-Iced-Tea-2-3.jpg');
}
.for-color-40:checked ~ .img-wrap.mango_iced_tea-2{
  opacity: 1;
}


.img-wrap.guyabano_iced_tea-1{
  background-image: url('https://simplybakings.com/wp-content/uploads/2020/02/Gayubano-Smoothie-13.jpg"');
}
.for-color-41:checked ~ .img-wrap.guyabano_iced_tea-1{
  opacity: 1;
}
.img-wrap.guyabano_iced_tea-2{
  background-image: url('https://simplybakings.com/wp-content/uploads/2020/02/Gayubano-Smoothie-13.jpg');
}
.for-color-42:checked ~ .img-wrap.guyabano_iced_tea-2{
  opacity: 1;
}


.img-wrap.melon_juice-1{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9kOC6NsRK1YhkS-x4qj6iPGBIIo7UNS7u3fEHdGRzeu3vjjMjZOybf94K-8mI-8ZRGfU&usqp=CAU');
}
.for-color-43:checked ~ .img-wrap.melon_juice-1{
  opacity: 1;
}
.img-wrap.melon_juice-2{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9kOC6NsRK1YhkS-x4qj6iPGBIIo7UNS7u3fEHdGRzeu3vjjMjZOybf94K-8mI-8ZRGfU&usqp=CAU');
}
.for-color-44:checked ~ .img-wrap.melon_juice-2{
  opacity: 1;
}


.img-wrap.gulaman-1{
  background-image: url('https://i.pinimg.com/736x/a4/c8/a6/a4c8a62696ebd53b43458c8cadd9b25c.jpg');
}
.for-color-45:checked ~ .img-wrap.gulaman-1{
  opacity: 1;
}
.img-wrap.gulaman-2{
  background-image: url('https://i.pinimg.com/736x/a4/c8/a6/a4c8a62696ebd53b43458c8cadd9b25c.jpg');
}
.for-color-46:checked ~ .img-wrap.gulaman-2{
  opacity: 1;
}


.img-wrap.milo-1{
  background-image: url('https://recipes-by-reeshu.s3.ap-south-1.amazonaws.com/recipes/ice-milo-dinosaur/1.jpg');
}
.for-color-47:checked ~ .img-wrap.milo-1{
  opacity: 1;
}
.img-wrap.milo-2{
  background-image: url('https://recipes-by-reeshu.s3.ap-south-1.amazonaws.com/recipes/ice-milo-dinosaur/1.jpg');
}
.for-color-48:checked ~ .img-wrap.milo-2{
  opacity: 1;
}




/*-------------------------------------------------------------------------------------------------------*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }  
  20%, 80% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0) rotate(-3deg);
  }
  40%, 60% {
    transform: translate3d(3px, 0, 0) rotate(3deg);
  }
}


/*------------------------------------------------------SET MEALS-----------------------------------------------------------*/

.back-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  display: block;
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  transition: all 250ms linear;
  transition-delay: 300ms;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.3);
}
.back-color.tonkatsu-1{
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-1:checked ~ .back-color.tonkatsu-1{
  opacity: 1;
}
.back-color.tonkatsu-2 {
  background-image: linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-2:checked ~ .back-color.tonkatsu-2{
  opacity: 1;
}


.back-color.fried_chicken-1 {
  background-image:  linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-3:checked ~ .back-color.fried_chicken-1{
  opacity: 1;
}

.back-color.fried_chicken-2 {
  background-image:  linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-4:checked ~ .back-color.fried_chicken-2{
  opacity: 1;
}


.back-color.dinuguan-1 {
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-5:checked ~ .back-color.dinuguan-1{
  opacity: 1;
}

.back-color.dinuguan-2 {
  background-image:   linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-6:checked ~ .back-color.dinuguan-2{
  opacity: 1;
}


.back-color.bopis-1 {
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-7:checked ~ .back-color.bopis-1{
  opacity: 1;
}

.back-color.bopis-2 {
  background-image:   linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-8:checked ~ .back-color.bopis-2{
  opacity: 1;
}


.back-color.adobong_pusit-1 {
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-9:checked ~ .back-color.adobong_pusit-1{
  opacity: 1;
}

.back-color.adobong_pusit-2 {
  background-image:   linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-10:checked ~ .back-color.adobong_pusit-2{
  opacity: 1;
}


.back-color.siningang_baboy-1 {
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-11:checked ~ .back-color.siningang_baboy-1{
  opacity: 1;
}

.back-color.siningang_baboy-2 {
  background-image:   linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-12:checked ~ .back-color.siningang_baboy-2{
  opacity: 1;
}


.back-color.sisig-1 {
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-13:checked ~ .back-color.sisig-1{
  opacity: 1;
}

.back-color.sisig-2 {
  background-image:   linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-14:checked ~ .back-color.sisig-2{
  opacity: 1;
}


.back-color.bicol_express-1 {
  background-image: linear-gradient(61deg, rgba(0,175,67,1) 3%, rgba(27,94,75,1) 100%);
  opacity: 0;
}
.for-color-15:checked ~ .back-color.bicol_express-1{
  opacity: 1;
}

.back-color.bicol_express-2 {
  background-image:   linear-gradient(61deg, rgba(255,202,43,1) 3%, rgba(93,123,56,1) 62%, rgba(19,112,86,1) 100%);
  opacity: 0;
}
.for-color-16:checked ~ .back-color.bicol_express-2{
  opacity: 1;
}


/*------------------------------------------------------AL A CARTE-----------------------------------------------------------*/

.back-color.spaghetti-1 {
  background-image: linear-gradient(90deg, rgba(9,117,121,1) 21%, rgba(20,81,105,1) 51%, rgba(4,54,88,1) 90%);
  opacity: 0;
}
.for-color-17:checked ~ .back-color.spaghetti-1{
  opacity: 1;
}


.back-color.carbonara-1 {
  background-image: linear-gradient(90deg, rgba(9,117,121,1) 21%, rgba(20,81,105,1) 51%, rgba(4,54,88,1) 90%);
  opacity: 0;
}
.for-color-18:checked ~ .back-color.carbonara-1{
  opacity: 1;
}


.back-color.baked_mac-1 {
  background-image: linear-gradient(90deg, rgba(9,117,121,1) 21%, rgba(20,81,105,1) 51%, rgba(4,54,88,1) 90%);
  opacity: 0;
}
.for-color-19:checked ~ .back-color.baked_mac-1{
  opacity: 1;
}


.back-color.eggplant_omelette-1 {
  background-image: linear-gradient(90deg, rgba(9,117,121,1) 21%, rgba(20,81,105,1) 51%, rgba(4,54,88,1) 90%);
  opacity: 0;
}
.for-color-20:checked ~ .back-color.eggplant_omelette-1{
  opacity: 1;
}


.back-color.ginisang_upo-1 {
  background-image: linear-gradient(90deg, rgba(9,117,121,1) 21%, rgba(20,81,105,1) 51%, rgba(4,54,88,1) 90%);
  opacity: 0;
}
.for-color-21:checked ~ .back-color.ginisang_upo-1{
  opacity: 1;
}


.back-color.ginisang_monggo-1 {
  background-image: linear-gradient(90deg, rgba(9,117,121,1) 21%, rgba(20,81,105,1) 51%, rgba(4,54,88,1) 90%);
  opacity: 0;
}
.for-color-22:checked ~ .back-color.ginisang_monggo-1{
  opacity: 1;
}


/*--------------------------------------------------------------EXTRAS-------------------------------------------------------------*/

.back-color.rice-1 {
  background-image: linear-gradient(56deg, rgba(41,196,205,1) 16%, rgba(39,135,173,1) 41%, rgba(30,63,109,1) 78%);
  opacity: 0;
}
.for-color-23:checked ~ .back-color.rice-1{
  opacity: 1;
}

.back-color.egg-1 {
  background-image: linear-gradient(56deg, rgba(41,196,205,1) 16%, rgba(39,135,173,1) 41%, rgba(30,63,109,1) 78%);
  opacity: 0;
}
.for-color-24:checked ~ .back-color.egg-1{
  opacity: 1;
}

.back-color.ham-1 {
  background-image: linear-gradient(56deg, rgba(41,196,205,1) 16%, rgba(39,135,173,1) 41%, rgba(30,63,109,1) 78%);
  opacity: 0;
}
.for-color-25:checked ~ .back-color.ham-1{
  opacity: 1;
}

.back-color.hotdog-1 {
  background-image: linear-gradient(56deg, rgba(41,196,205,1) 16%, rgba(39,135,173,1) 41%, rgba(30,63,109,1) 78%);
  opacity: 0;
}
.for-color-26:checked ~ .back-color.hotdog-1{
  opacity: 1;
}

.back-color.siomai-1 {
  background-image: linear-gradient(56deg, rgba(41,196,205,1) 16%, rgba(39,135,173,1) 41%, rgba(30,63,109,1) 78%);
  opacity: 0;
}
.for-color-27:checked ~ .back-color.siomai-1{
  opacity: 1;
}

.back-color.salad-1 {
  background-image: linear-gradient(56deg, rgba(41,196,205,1) 16%, rgba(39,135,173,1) 41%, rgba(30,63,109,1) 78%);
  opacity: 0;
}
.for-color-28:checked ~ .back-color.salad-1{
  opacity: 1;
}


/*--------------------------------------------------------------EXTRAS-------------------------------------------------------------*/

.back-color.lemonade-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-29:checked ~ .back-color.lemonade-1{
  opacity: 1;
}

.back-color.lemonade-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-30:checked ~ .back-color.lemonade-2{
  opacity: 1;
}



.back-color.bluelemonade-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-31:checked ~ .back-color.bluelemonade-1{
  opacity: 1;
}

.back-color.bluelemonade-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-32:checked ~ .back-color.bluelemonade-2{
  opacity: 1;
}


.back-color.iced_tea-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-33:checked ~ .back-color.iced_tea-1{
  opacity: 1;
}

.back-color.iced_tea-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-34:checked ~ .back-color.iced_tea-2{
  opacity: 1;
}



.back-color.red_iced_tea-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-35:checked ~ .back-color.red_iced_tea-1{
  opacity: 1;
}

.back-color.red_iced_tea-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-36:checked ~ .back-color.red_iced_tea-2{
  opacity: 1;
}


.back-color.cucumber_iced_tea-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-37:checked ~ .back-color.cucumber_iced_tea-1{
  opacity: 1;
}

.back-color.cucumber_iced_tea-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-38:checked ~ .back-color.cucumber_iced_tea-2{
  opacity: 1;
}


.back-color.mango_iced_tea-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-39:checked ~ .back-color.mango_iced_tea-1{
  opacity: 1;
}

.back-color.mango_iced_tea-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-40:checked ~ .back-color.mango_iced_tea-2{
  opacity: 1;
}


.back-color.guyabano_iced_tea-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-41:checked ~ .back-color.guyabano_iced_tea-1{
  opacity: 1;
}

.back-color.guyabano_iced_tea-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-42:checked ~ .back-color.guyabano_iced_tea-2{
  opacity: 1;
}


.back-color.melon_juice-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-43:checked ~ .back-color.melon_juice-1{
  opacity: 1;
}

.back-color.melon_juice-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-44:checked ~ .back-color.melon_juice-2{
  opacity: 1;
}



.back-color.gulaman-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-45:checked ~ .back-color.gulaman-1{
  opacity: 1;
}

.back-color.gulaman-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-46:checked ~ .back-color.gulaman-2{
  opacity: 1;
}


.back-color.milo-1 {
  background-image:  linear-gradient(56deg, rgba(65,101,218,1) 16%, rgba(17,74,187,1) 41%, rgba(5,37,97,1) 78%);
  opacity: 0;
}
.for-color-47:checked ~ .back-color.milo-1{
  opacity: 1;
}

.back-color.milo-2 {
  background-image:  linear-gradient(56deg, rgba(82,26,204,1) 8%, rgba(57,52,219,1) 38%, rgba(13,27,130,1) 72%);
  opacity: 0;
}
.for-color-48:checked ~ .back-color.milo-2{
  opacity: 1;
}



/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/

.info-wrap{
  position: relative;
  margin-left: 500px;
  z-index: 10;
  display: block;
  text-align: space-between;
}

.title-up {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  left: -15px;
}

.dish_name {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

.choose {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  top: 200px;
  margin-bottom: 10px;
  letter-spacing: .75px;
}

.money {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: .75px;
}

.desc-btn:checked + label,
.desc-btn:not(:checked) + label{
  position: relative;
  transition: all 200ms linear;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #ffeba7;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-right: 25px;
  opacity: 0.5;
}
.desc-btn:checked + label{
  opacity: 1;
}
.desc-btn:not(:checked) + label:hover {
  opacity: 0.8;
}

.desc-sec {
  padding-top: 20px;
  padding-bottom: 30px;
  transition: all 250ms linear;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  margin-bottom: 10px;
}
.desc-sec.accor-2 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.desc-sec.accor-4 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 2;
}
#desc-1:checked ~ .desc-sec.accor-1 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-2:checked ~ .desc-sec.accor-2 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-3:checked ~ .desc-sec.accor-3 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-4:checked ~ .desc-sec.accor-4 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

#desc-5:checked ~ .desc-sec.accor-5 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-6:checked ~ .desc-sec.accor-6 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-7:checked ~ .desc-sec.accor-7 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-8:checked ~ .desc-sec.accor-8 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-9:checked ~ .desc-sec.accor-9 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-10:checked ~ .desc-sec.accor-10 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-11:checked ~ .desc-sec.accor-11 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-12:checked ~ .desc-sec.accor-12 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-13:checked ~ .desc-sec.accor-13 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-14:checked ~ .desc-sec.accor-14 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-15:checked ~ .desc-sec.accor-15 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-16:checked ~ .desc-sec.accor-16 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-17:checked ~ .desc-sec.accor-17 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-18:checked ~ .desc-sec.accor-18 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-19:checked ~ .desc-sec.accor-19 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-20:checked ~ .desc-sec.accor-20 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-21:checked ~ .desc-sec.accor-21 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-22:checked ~ .desc-sec.accor-22 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-23:checked ~ .desc-sec.accor-23 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-24:checked ~ .desc-sec.accor-24 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-25:checked ~ .desc-sec.accor-25 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-26:checked ~ .desc-sec.accor-26 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-27:checked ~ .desc-sec.accor-27 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-28:checked ~ .desc-sec.accor-28 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-29:checked ~ .desc-sec.accor-29 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-30:checked ~ .desc-sec.accor-30 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-31:checked ~ .desc-sec.accor-31 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-32:checked ~ .desc-sec.accor-32 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-33:checked ~ .desc-sec.accor-33 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-34:checked ~ .desc-sec.accor-34 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-35:checked ~ .desc-sec.accor-35 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-36:checked ~ .desc-sec.accor-36 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}



#desc-37:checked ~ .desc-sec.accor-37 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-38:checked ~ .desc-sec.accor-38 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-39:checked ~ .desc-sec.accor-39 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-40:checked ~ .desc-sec.accor-40 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-41:checked ~ .desc-sec.accor-41 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-42:checked ~ .desc-sec.accor-42 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-43:checked ~ .desc-sec.accor-43 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-44:checked ~ .desc-sec.accor-44 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}



#desc-45:checked ~ .desc-sec.accor-45 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-46:checked ~ .desc-sec.accor-46 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-47:checked ~ .desc-sec.accor-47 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-48:checked ~ .desc-sec.accor-48 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
} 


#desc-49:checked ~ .desc-sec.accor-49 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-50:checked ~ .desc-sec.accor-50 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-51:checked ~ .desc-sec.accor-51 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-52:checked ~ .desc-sec.accor-52 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-53:checked ~ .desc-sec.accor-53 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-54:checked ~ .desc-sec.accor-54 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-55:checked ~ .desc-sec.accor-55 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-56:checked ~ .desc-sec.accor-56 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


#desc-57:checked ~ .desc-sec.accor-57 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-58:checked ~ .desc-sec.accor-58 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-59:checked ~ .desc-sec.accor-59 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-60:checked ~ .desc-sec.accor-60 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


.section-inline{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  background-color: rgb(38, 83, 131, .5);
  padding: .5em;
}
.section-inline p span{
  font-size: 30px;
  line-height: 1.1;
}

.btn{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(206, 206, 206, .15);
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
  transition: all 250ms linear;
  text-decoration: none;
  top:-130px;
  margin-top: 140px;
  margin-left: -10px;
}
.icon {
  padding-right: 7px;
  font-size: 20px;
}
.btn:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  background-color: #002469;
  transition: background-color 250ms 300ms ease;
}
.btn:hover{
  box-shadow: 0 12px 35px 0 rgba(255, 225, 177, .5);
  background-color: #000;
}
.for-color-2:checked ~ .info-wrap .btn:before{
  background-color: #1a1a1a;
}
.for-color-3:checked ~ .info-wrap .btn:before{
  background-color: #40566e;
}
.for-color-4:checked ~ .info-wrap .btn:before{
  background-color: #5e89b2;
}
.for-color-5:checked ~ .info-wrap .btn:before{
  background-color: #8c7f76;
}
.for-color-6:checked ~ .info-wrap .btn:before{
  background-color: #5d6160;
}

.clearfix {
  width: 100%;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.logo {
	position: fixed;
	top: 20px;
	left: 15px;
	display: block;
	z-index: 1000;
	transition: all 250ms linear;
}
.logo img {
	height: 75px;
	width: auto;
	display: block;
	transition: filter 250ms 700ms linear;
}

@media screen and (max-width: 991px) {
  .section{
    margin: auto;
    text-align: center;
    max-width: calc(100% - 40px);
    width: 370px;
	padding: 100px 0;
  }
  .section-fluid-main{
  height: 1000px;
  border-radius: 10px;
}
  
  label.first-color{
    margin-left: 0;
	margin-top: 500px;
  }
  
.color-3{
    margin-left: 0;
	margin-top: 500px;
  }
  .info-wrap{
    margin-left: 0;
    width: 370px;
    margin-bottom: 30px;
	height: 200px;
    text-align: center;
  }
  .img-wrap{
    width: 375px;
    height: 308px;
    left: 50%;
    margin-left: -190px;
  }
  .mob-margin {
    margin-top: 320px;
  }
  .desc-btn:checked + label,
  .desc-btn:not(:checked) + label{
    margin-right: 15px;
    margin-left: 15px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label{
    height: 40px;
    width: 100px;
    margin: 5px auto;
    text-align: center;
  }
  .section-inline{
    margin: 0 5px;
  }
  
  .btn{
	  left:-32px;
  } 
  .escape{
	left: 90%;
}



}
@media screen and (max-width: 575px) {

  .section{
    width: 280px;
  }
  .info-wrap{
    width: 280px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label{
    height: 30px;
    width: 100px;
	padding-top: 2px;
	margin-top: 50px;
  }
  .section-inline p span{
    font-size: 24px;
    line-height: 1.1;
  }
  .section-inline p{
    font-size: 14px;
  }
}