.sidebar {
  height: 100%; 
  width: 312px;
  position: fixed; 
  z-index: 3; 
  top: 0;
  left: -312px;
  background-color: #36312b;
  overflow-x: hidden; 
  transition: 0.5s;   
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5); 
}

.sidebar a {
  text-decoration: none;
  color: rgba(253, 248, 241);
  display: block;
  transition: 0.3s;
}

.openbtn {
  cursor: pointer;
  background-color: #fea104;
  color: #000000;
  padding: 10px 15px;
  border: none;
}

.closebtn a:hover {
  color: #eab676;
}

.sidebar .closebtn {
  position: absolute;
  top: -5px;
  right: -3px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #5e492f;
}



#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
  color: #000000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

