.sidebar {
  height: 100%; 
  width: 310px;
  position: fixed; 
  z-index: 3; 
  top: 0;
  left: -310px;
  background-color: #48A7A5; 
  z-indez: 25;
  overflow-x: hidden; 
  transition: 0.5s; 
}

.sidebar a {
  padding: 3px 16px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #09312A;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #092a37;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebar .closebtn {
  position: absolute;
  top: -5px;
  right: -3px;
  
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #1E596D;
}

#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
  color: white;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

